<a href="https://colab.research.google.com/github/thecoducer/python_programs/blob/master/Learning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learning Python

---

## Take input

In [62]:
# in Python 3
# in Python 2, we use raw_input()
n = input("Enter: ") # stores as a string
print(n)
# typecast it before arithmetic operation
n = int(n) + 900
print(n)

Enter: 20
20
920

##Classic vs Floor division

In [63]:
print(19/5) # classic division returns float
print(52//3) # floor division discards the fractional part

3.8
17

##To calculate powers

In [64]:
# 2^5
print(2**5)

32

- *In interactive mode, the last printed expression is assigned to the variable _*

## Round a real number up to 2 places after decimal

In [65]:
k = 12.03635
print(round(k, 2))

12.04

# Strings
- \ can be used to escape quotes
- can be also be enclosed within other pair of quotes
- to print raw strings, use r

##Raw string

In [66]:
print(r"C:\nebula\MachineLearning")
# without it, \n escape sequence gets triggered
print("C:\nebula\MachineLearning")

C:\nebula\MachineLearning
C:
ebula\MachineLearning

##String literals can span multiple lines

In [67]:
# Prevent automatic inclusion of end of lines by using \ operator
print("""\
asdad
awewer
bnghjny
it rty    dsrfgtr t
er    sdefsdfg    dggh""")

asdad
awewer
bnghjny
it rty    dsrfgtr t
er    sdefsdfg    dggh

##Strings are 0-based indexed

In [68]:
str = "David Attenborough"
print(str)
print(str[2] + str[9])
print(str[-2]) # starts counting from the right
# it is the second last character
# Note that since -0 is the same as 0, negative indices start from -1.

David Attenborough
ve
g

##Slicing strings

In [69]:
str = 'Jekyll'
print(str[1:])
print(str[2:])
print(str[:3])
print(str[:2] + str[4:])
print(str[-2:])

ekyll
kyll
Jek
Jell
ll

- **Like Java, Python strings are immutable.**

##Length of string

In [70]:
# str = "Jekyll"
print(len(str))

6

##String methods
- https://docs.python.org/3/library/stdtypes.html#string-methods
- https://www.geeksforgeeks.org/python-strings/

In [71]:
str1 = "Data Structures"
str2 = "Algorithms"
str3 = "operating system"
print(str1.lower())
print(str2.upper())
print(str3.capitalize())
print(str1.endswith("Structures"))
print(str2.endswith("thms"))
print(str3.startswith("oper"))

data structures
ALGORITHMS
Operating system
True
True
True

##Reverse a string

In [72]:
# Python string library has no reverse() method
def reverse(s):
  temp = ""
  for i in s:
    temp = i + temp # ... m + o + C
  return temp

subject = "Computer Networks"
print(reverse(subject))

skrowteN retupmoC

In [73]:
# Using recursion
def reverse1(s):
  if len(s) == 0:
    return s
  else:
    return reverse(s[1:]) + s[0]
s = "Kolkata"
print(reverse1(s))

atakloK

In [74]:
# Using extended slice syntax
def reverse3(s):
  return s[::-1]

s = "Quadilateral"
print(reverse3(s))

laretalidauQ

In [75]:
# Using reversed
def reverse4(s):
  return "".join(reversed(s))

s = "Gradle"
print(reverse4(s))

eldarG

##Split a string

In [4]:
line = "Brian Karnighan's algorithm is the most efficient way to count set bits."
print(line.split()) # No delimiter takes whitespace as a delimiter implicitly

['Brian', "Karnighan's", 'algorithm', 'is', 'the', 'most', 'efficient', 'way', 'to', 'count', 'set', 'bits.']

In [19]:
word = "dock:for:ipad"
print(word.split(":"))
print(word.split(":", 1)) # maxsplit: 1

['dock', 'for', 'ipad']
['dock', 'for:ipad']

#Lists

In [23]:
# This is a list
# Like strings, lists can be indexed and sliced
veggies = ["potato", "carrot", "brinjal"]
print(veggies)
print(veggies[2])
print(veggies[-1])
# all slice operations return a new list(a copy) containing the requested elements
print(veggies[1:2])
# lists supports concatenation
# unlike strings, lists are mutable
# use append() method to add elements to the end of a list
veggies.append("ladyfinger")
print(veggies)

['potato', 'carrot', 'brinjal']
brinjal
brinjal
['carrot']
['potato', 'carrot', 'brinjal', 'ladyfinger']