<a href="https://colab.research.google.com/github/thecoducer/python_programs/blob/master/Learning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learning Python
---
<img src="https://raw.githubusercontent.com/thecoducer/python_programs/master/python-harry-potter.jpg" width="65%" height="65%" />

Hey! I'm reading the official documentation of Python Software Foundation to learn Python programming language. It's great and detailed. We often need to write down notes when we learn something new. So, I've used Jupyter Notebook to write down notes as well as programs. You can open the notebook file and run the codes on Google Collaboratory. This notebook is intended to help me whenever I need to revise. It's not intended to teach anyone Python.

I recommend you to read the official Python tutorial here: https://docs.python.org/3/tutorial/index.html.

My blog post on learning Python: http://www.thecoducer.com/2019/07/effective-way-to-learn-python-for-free.html

---
***Email: [mayukh5741@gmail.com](mailto:mayukh5741@gmail.com)***

***Website: https://thecoducer.github.io/***

***Blog: http://www.thecoducer.com/***

---

#An Informal introduction to Python
https://docs.python.org/3/tutorial/introduction.html

##Classic vs Floor division

In [66]:
print(19/5) # classic division returns float
print(52//3) # floor division discards the fractional part

3.8
17

##To calculate powers

In [67]:
# 2^5
print(2**5)

32

- *In interactive mode, the last printed expression is assigned to the variable _*

## Round a real number up to 2 places after decimal

In [68]:
k = 12.03635
print(round(k, 2))

12.04

##Strings
- \ can be used to escape quotes
- can be also be enclosed within other pair of quotes
- to print raw strings, use r

##Raw string

In [69]:
print(r"C:\nebula\MachineLearning")
# without it, \n escape sequence gets triggered
print("C:\nebula\MachineLearning")

C:\nebula\MachineLearning
C:
ebula\MachineLearning

##String literals can span multiple lines

In [70]:
# Prevent automatic inclusion of end of lines by using \ operator
print("""\
asdad
awewer
bnghjny
it rty    dsrfgtr t
er    sdefsdfg    dggh""")

asdad
awewer
bnghjny
it rty    dsrfgtr t
er    sdefsdfg    dggh

##Strings are 0-based indexed

In [71]:
str = "David Attenborough"
print(str)
print(str[2] + str[9])
print(str[-2]) # starts counting from the right
# it is the second last character
# Note that since -0 is the same as 0, negative indices start from -1.

David Attenborough
ve
g

##Slicing strings

In [72]:
str = 'Jekyll'
print(str[1:])
print(str[2:])
print(str[:3])
print(str[:2] + str[4:])
print(str[-2:])

ekyll
kyll
Jek
Jell
ll

- **Like Java, Python strings are immutable.**

##Length of string

In [73]:
# str = "Jekyll"
print(len(str))

6

##String methods
- https://docs.python.org/3/library/stdtypes.html#string-methods
- https://www.geeksforgeeks.org/python-strings/

In [74]:
str1 = "Data Structures"
str2 = "Algorithms"
str3 = "operating system"
print(str1.lower())
print(str2.upper())
print(str3.capitalize())
print(str1.endswith("Structures"))
print(str2.endswith("thms"))
print(str3.startswith("oper"))

data structures
ALGORITHMS
Operating system
True
True
True

##Reverse a string

In [75]:
# Python string library has no reverse() method
def reverse(s):
  temp = ""
  for i in s:
    temp = i + temp # ... m + o + C
  return temp

subject = "Computer Networks"
print(reverse(subject))

skrowteN retupmoC

In [76]:
# Using recursion
def reverse1(s):
  if len(s) == 0:
    return s
  else:
    return reverse(s[1:]) + s[0]
s = "Kolkata"
print(reverse1(s))

atakloK

In [77]:
# Using extended slice syntax
def reverse3(s):
  return s[::-1]

s = "Quadilateral"
print(reverse3(s))

laretalidauQ

In [78]:
# Using reversed
def reverse4(s):
  return "".join(reversed(s))

s = "Gradle"
print(reverse4(s))

eldarG

##Split a string

In [79]:
line = "Brian Karnighan's algorithm is the most efficient way to count set bits."
print(line.split()) # No delimiter takes whitespace as a delimiter implicitly

['Brian', "Karnighan's", 'algorithm', 'is', 'the', 'most', 'efficient', 'way', 'to', 'count', 'set', 'bits.']

In [80]:
word = "dock:for:ipad"
print(word.split(":"))
print(word.split(":", 1)) # maxsplit: 1

['dock', 'for', 'ipad']
['dock', 'for:ipad']

##Printing out multiples of strings

In [81]:
print("Yes"*5 + "No"*2)

YesYesYesYesYesNoNo

##Lists

In [82]:
# This is a list
# Like strings, lists can be indexed and sliced
veggies = ["potato", "carrot", "brinjal"]
print(veggies)
print(veggies[2])
print(veggies[-1])
# all slice operations return a new list(a copy) containing the requested elements
print(veggies[1:2])
# lists supports concatenation
# unlike strings, lists are mutable
# use append() method to add elements to the end of a list
veggies.append("ladyfinger")
print(veggies)
# assignment to slices is also possible
veggies[2:] = ["beetroot", "ginger"]
print(veggies)
# length of list
print(len(veggies))
# we can nest lists too
x = [['a', 'b'], ['k', 'l']]
print(x, "Length = ", len(x))

['potato', 'carrot', 'brinjal']
brinjal
brinjal
['carrot']
['potato', 'carrot', 'brinjal', 'ladyfinger']
['potato', 'carrot', 'beetroot', 'ginger']
4
[['a', 'b'], ['k', 'l']] Length =  2

##Fibonacci program

In [83]:
# Prints Fibonacci series upto Nth term where N < k
def fibonacci(k):
  first, second = 0, 1 # multiple assignment
  while first < k:
    print(first, end=', ')
    first, second = second, first+second

# invoke function
fibonacci(20)

0, 1, 1, 2, 3, 5, 8, 13,

In [84]:
# Prints Fibonacci series upto Nth term
def fibo(n):
  first, second = 0, 1
  l = [] #empty list to store fibonacci numbers
  for i in range(n):
    #print(first, end=" ")
    l.append(first)
    first, second = second, first+second
  print(l)
  print("Length of the list: ", len(l))

fibo(20)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]
Length of the list:  20

In [85]:
# Prints Nth fibonacci number
def nthfibo(n):
  first, second = 0, 1
  for i in range(n-1):
    first, second = second, first+second
  print("%dth term is %d" %(n, first))
  # formatted output using string modulo operator

nthfibo(20)

20th term is 4181

<img src="https://raw.githubusercontent.com/thecoducer/python_programs/master/code_happy.png" width="65%" height="65%" />

#More control flow tools
https://docs.python.org/3/tutorial/controlflow.html

##If statement

In [86]:
n = int(input("Enter a number: "))
if n<0:
  print("It is a negative number.")
elif n==0:
  print("It is a zero.")
else:
  print("It is a positive number.")

Enter a number: 20
It is a positive number.

##Switch or case statement

Unlike other languages, Python does not have this feature. Python encourages to use if and elif instead.

We can do something similar to switch-case by using dictionary mapping. Read here: https://www.geeksforgeeks.org/switch-case-in-python-replacement/

##For statement

In [87]:
# Python’s for statement iterates over the items of 
# any sequence (a list or a string), in the order 
# that they appear in the sequence. 
# similar to for each loop in Java
word = ['cat', 'dog', 'tiger', 'lion']
for w in word:
  print(w, len(w))

cat 3
dog 3
tiger 5
lion 4

##range() method

In [88]:
# range() method generated arithmetic progressions.
# and proves useful in case of for loop
for i in range(10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [89]:
# range(a, b, c)
# a = start
# b = stop
# c = step (common difference of AP)
for i in range(5, 30, 5):
  print(i, end=" ")
print()
for i in range(-2, -40, -6):
  print(i, end=" ")

5 10 15 20 25
-2 -8 -14 -20 -26 -32 -38

In [90]:
# iterating over the indices of a sequence using range() and len()
str = "software engineering"
for i in range(len(str)):
  print(str[i], end=" ")

s o f t w a r e   e n g i n e e r i n g

##list() method

In [91]:
# we can create lists from iterables using this method
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##break statement and else clause on loop

The break statement, like in C, breaks out of the innermost enclosing for or while loop.

Loop statements may have an else clause; it is *executed when the loop terminates through exhaustion of the list (with for) or when the condition becomes false (with while)*, **but not when the loop is terminated by a break statement.**

##Find primes upto N

In [106]:
def primes(n):
  for i in range(2, n):
    for j in range(2, i):
      if i % j == 0:
        print(i, "equals", j, "*", i//j)
        break
    else:
      # loop fell through without finding a factor
      # else belongs to the for loop
      # loop's else clause runs when no break occurs
      # similar to try (in exception handling), when no exception occurs
      # else clause of try executes
      print("%d is a prime number" %(i))

primes(15)

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7

##continue statement

Like C, it continues with the next iteration of the loop.

##pass statement

It does nothing. Read more https://docs.python.org/3/tutorial/controlflow.html#pass-statements

##Defining a function

- The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.
- The first statement of the function body can optionally be a string literal; this string literal is the function’s documentation string, or docstring.
- The execution of a function introduces a new symbol table used for the local variables of the function.
- The actual parameters (arguments) to a function call are introduced in the local symbol table of the called function when it is called; thus, arguments are passed using **call by value** (where the value is always an object reference, not the value of the object).
- In fact, even functions without a return statement do return a value, albeit a rather boring one. This value is called None (it’s a built-in name). Writing the value None is normally suppressed by the interpreter if it would be the only value written.

##return statement

In [107]:
def sublist(fruits, m, n):
  return fruits[m:n]

fruits = ["mango", "apple", "guave", "grapes", "banana", "pineapple", "cucumber", "pomegranate", "watermelon", "naseberry"]
sublist(fruits, 2, 5)

['guave', 'grapes', 'banana']

<img src="https://raw.githubusercontent.com/thecoducer/python_programs/master/large.jpg" width="65%" height="65%" />